body {
    margin: 0;
    font-family: Comic Sans MS, sans-serif;
    font-size: 18px;
    color: cornflowerblue;
    line-height: 1.5;
    background-image: url(../img/bg.png)
}

*,
*:before,
*:after,
    {
    box-sizing: border-box;
}

.page {
    width: 1000px;
    margin: 20px auto;
    background-image: linear-gradient(220.55deg, #FFEB3A 0%, #4DEF8E 100%);
}

.container {
    display: flex;
}

/* Header */

.header {
    padding: 20px;
    background-color: bisque;
}

.header-title {
    font-size: 24px;
    color: darkseagreen;
    margin: 0;
    text-align: center;
}

.header-subtitle {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: darkseagreen;
    text-align: center;
}

/* Nav */

.nav {
    text-align: center;
}

.nav-link {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: coral;
    transition: background-color 0.2s linear;
}

.nav-link:hover {
    background-color: crimson;
}

/* Content */

.content {
    width: 800px;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #a2a2a2;
}

.link {
    text-decoration: none;
    color: cornflowerblue;
}

.link:hover {
    text-decoration: underline;
}

.article-image {
    margin: 10px auto 20px;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px #909090;
    opacity: 0.9;
    transition: opacity 0.2s linear;
    background-color: black;
}

.article-image:hover {
    opacity: 1;
}

.article-title {
    text-align: center;
    color: cornflowerblue;
    margin: 0;
}

/* Footer */

.footer {
    padding: 20px;
    color: burlywood;
    text-align: center;
}

/* Sidebar */

.sidebar {
    width: 400px;
    padding: 10px;
}
