body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #121212;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 15px;
    margin: 20px auto;
}

.text > p:first-of-type {
    color: red;
}


.table {
    width: 100%;
    margin-bottom: 40px;
}

.text {
    margin-bottom: 40px;
}

.list {
    margin-bottom: 40px;
}

/* .list li:first-child {
    color: blue;
}

.list li:last-child {
    color: blue;
} */

.list li:nth-child(odd) {
    color: blue;
}

.table tbody tr:nth-child(even) {
    background-color: #eee; 
}

.label {
    color: #ccc;
}

.checkbox:checked + .label {
    color: #000;
}

.text span {
    background-color: #eee;
}

.text span[title] {
    text-decoration: underline;
}